.container {
    display: flex;
}

.table {
    display: table;
    font-size: 14px;
    padding-right: 10px;
}

.row {
    display: table-row;
}

.header .cell {
    font-weight: bold;
}

.cell {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
  